body {
    background-color:rgb(194, 194, 173);
    color: bisque;
    font: normal 20pt Courier;
    text-align: center;
}

section {
    color: rgba(0, 0, 0, 0.89);
    background-color: whitesmoke;
    font: normal 12pt Times;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 4px 10px black;
}

header{
    p1{
        font: bolder 35pt Arial;
        color:rgba(49, 85, 28, 0.911);
        border-radius: 10px;
        border-radius: 10px;
        margin: auto;
    }
}

select {
    height: 40px;
    width:auto;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    border: 2px solid #cccccc;
    border-radius: 15px;
    color: rgba(0, 0, 0, 0.911);
}

button:hover {
    background-color: #0056b3;
}

#res {
    margin-top: 20px;
    font-size: 23px;
    font: bolder 20px Courier;
}